Estratégia para coleta de dados

1- Saída:

        -Uma tabela com as informações dos livros
        -Processo: A sequência de passos organizada pela lógica de execução.

        -Analisar o HTML da página
        -Pesquisar melhor forma de realizar a extração de dados
        -Coleta os dados seguintes dados categoria| nome_livro|avaliação_consumidor|estoque|preço
        -Limpeza dos dados

2- Ferramentas utilizadas:
        -Python 3.8
        -Jupyter Notebook
        -Beatiful Soup
        -Pandas

3- Fonte de dados:
        https://books.toscrape.com/

In [1]:
import requests
import pandas as pd
from datetime import datetime
from bs4 import BeautifulSoup

import pandas as pd

In [11]:
url2 = 'https://books.toscrape.com/catalogue/category/books/classics_6/index.html'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

page = requests.get(url2, headers=headers)

#Beatiful Soup Objects
soup = BeautifulSoup(page.text, 'html.parser')

book_list = soup.find_all('a', class_='')
name_book_classic = [p.get('title') for p in book_list]

name_book_classic = [i for i in name_book_classic if i is not None]


price_list_classic = soup.find_all('div', class_='col-sm-8 col-md-9')
price_ = soup.find_all('p', class_='price_color')
price_classic = [p.get_text('price_color').replace('Â', '') for p in price_]



avaliable_ = soup.find_all('p', class_='instock availability')
stock_ = [p.get_text('icon-ok').replace('icon-ok', '').strip().replace('\n', '') for p in avaliable_]


list_classic = soup.find('div', class_='col-sm-8 col-md-9')

rating_list = list_classic.find_all('p', class_='star-rating')

rating_ = [p.get('class') for p in rating_list]



for i in range(len(rating_)):
    rating_[i].remove('star-rating')
    

classic_list = pd.DataFrame([name_book_classic, price_classic, stock_, rating_]).T
classic_list.columns = ['Name Book', 'Price', 'Stock', 'Rating']
classic_list

,Name Book,Price,Stock,Rating
0,The Secret Garden,£15.08,In stock,[Four]
1,The Metamorphosis,£28.58,In stock,[One]
2,The Pilgrim's Progress,£50.26,In stock,[Two]
3,The Hound of the Baskervilles (Sherlock Holmes...,£14.82,In stock,[Two]
4,Little Women (Little Women #1),£28.07,In stock,[Four]
5,Gone with the Wind,£32.49,In stock,[Three]
6,Candide,£58.63,In stock,[Three]
7,Animal Farm,£57.22,In stock,[Three]
8,Wuthering Heights,£17.73,In stock,[Three]
9,The Picture of Dorian Gray,£29.70,In stock,[Two]
10,The Complete Stories and Poems (The Works of E...,£26.78,In stock,[Four]
11,Beowulf,£38.35,In stock,[Two]
12,And Then There Were None,£35.01,In stock,[Two]
13,The Story of Hong Gildong,£43.19,In stock,[Four]
14,The Little Prince,£45.42,In stock,[Two]
15,Sense and Sensibility,£37.46,In stock,[One]
16,Of Mice and Men,£47.11,In stock,[Two]
17,Emma,£32.93,In stock,[Two]
18,Alice in Wonderland (Alice's Adventures in Won...,£55.53,In stock,[One]

In [16]:
url3 = 'https://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

page2 = requests.get(url3, headers=headers)

soup = BeautifulSoup(page2.text, 'html.parser')

book_list1 = soup.find_all('a', class_='')
name_book_fiction = [p.get('title') for p in book_list1]

name_book_fiction = [i for i in name_book_fiction if i is not None]



price_list_fiction = soup.find_all('div', class_='col-sm-8 col-md-9')
price_1 = soup.find_all('p', class_='price_color')
price_fiction = [p.get_text('price_color').replace('Â', '') for p in price_1]



avaliable_1 = soup.find_all('p', class_='instock availability')
stock_1 = [p.get_text('icon-ok').replace('icon-ok', '').strip().replace('\n', '') for p in avaliable_1]


list_fiction = soup.find('div', class_='col-sm-8 col-md-9')

rating_list1 = list_fiction.find_all('p', class_='star-rating')

rating_1 = [p.get('class') for p in rating_list1]



for i in range(len(rating_1)):
    rating_1[i].remove('star-rating')
    

fiction_list = pd.DataFrame([name_book_fiction, price_fiction, stock_1, rating_1]).T
fiction_list.columns = ['Name Book', 'Price', 'Stock', 'Rating']
fiction_list

,Name Book,Price,Stock,Rating
0,Mesaerion: The Best Science Fiction Stories 18...,£37.59,In stock,[One]
1,Join,£35.67,In stock,[Five]
2,"William Shakespeare's Star Wars: Verily, A New...",£43.30,In stock,[Four]
3,The Project,£10.65,In stock,[One]
4,Soft Apocalypse,£26.12,In stock,[Two]
5,Sleeping Giants (Themis Files #1),£48.74,In stock,[One]
6,Arena,£21.36,In stock,[Four]
7,Foundation (Foundation (Publication Order) #1),£32.42,In stock,[One]
8,The Restaurant at the End of the Universe (Hit...,£10.92,In stock,[One]
9,Ready Player One,£19.07,In stock,[Four]
10,"Life, the Universe and Everything (Hitchhiker'...",£33.26,In stock,[Two]
11,Dune (Dune #1),£54.86,In stock,[One]
12,Do Androids Dream of Electric Sheep? (Blade Ru...,£51.48,In stock,[One]
13,Three Wishes (River of Time: California #1),£44.18,In stock,[Two]
14,The Last Girl (The Dominion Trilogy #1),£36.26,In stock,[Two]
15,Having the Barbarian's Baby (Ice Planet Barbar...,£34.96,In stock,[Four]

In [17]:
url4 = 'https://books.toscrape.com/catalogue/category/books/humor_30/index.html'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

page3 = requests.get(url4, headers=headers)

soup = BeautifulSoup(page3.text, 'html.parser')

book_list = soup.find_all('a', class_='')
name_book_humor = [p.get('title') for p in book_list]

name_book_humor = [i for i in name_book_humor if i is not None]


price_list_humor = soup.find_all('div', class_='col-sm-8 col-md-9')
price_2 = soup.find_all('p', class_='price_color')
price_humor = [p.get_text('price_color').replace('Â', '') for p in price_2]



avaliable_2 = soup.find_all('p', class_='instock availability')
stock_2 = [p.get_text('icon-ok').replace('icon-ok', '').strip().replace('\n', '') for p in avaliable_2]


list_humor = soup.find('div', class_='col-sm-8 col-md-9')

rating_list2 = list_humor.find_all('p', class_='star-rating')

rating_2 = [p.get('class') for p in rating_list2]



for i in range(len(rating_2)):
    rating_2[i].remove('star-rating')
    

humor_list = pd.DataFrame([name_book_humor, price_humor, stock_2, rating_2]).T
humor_list.columns = ['Name Book', 'Price', 'Stock', 'Rating']
humor_list

,Name Book,Price,Stock,Rating
0,The Long Haul (Diary of a Wimpy Kid #9),£44.07,In stock,[One]
1,Old School (Diary of a Wimpy Kid #10),£11.83,In stock,[Five]
2,I Know What I'm Doing -- and Other Lies I Tell...,£25.98,In stock,[Four]
3,"Hyperbole and a Half: Unfortunate Situations, ...",£14.75,In stock,[Five]
4,Dress Your Family in Corduroy and Denim,£43.68,In stock,[Three]
5,Toddlers Are A**holes: It's Not Your Fault,£25.55,In stock,[One]
6,When You Are Engulfed in Flames,£30.89,In stock,[Five]
7,Naked,£31.69,In stock,[Three]
8,"Lamb: The Gospel According to Biff, Christ's C...",£55.50,In stock,[Five]
9,Holidays on Ice,£51.07,In stock,[Two]

In [18]:
url5 = 'https://books.toscrape.com/catalogue/category/books/business_35/index.html'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

page4 = requests.get(url5, headers=headers)

soup = BeautifulSoup(page4.text, 'html.parser')

book_list = soup.find_all('a', class_='')
name_book_business = [p.get('title') for p in book_list]

name_book_business = [i for i in name_book_business if i is not None]

price_list_business = soup.find_all('div', class_='col-sm-8 col-md-9')
price_3 = soup.find_all('p', class_='price_color')
price_business = [p.get_text('price_color').replace('Â', '') for p in price_3]



avaliable_3 = soup.find_all('p', class_='instock availability')
stock_3 = [p.get_text('icon-ok').replace('icon-ok', '').strip().replace('\n', '') for p in avaliable_3]


list_business = soup.find('div', class_='col-sm-8 col-md-9')

rating_list3 = list_business.find_all('p', class_='star-rating')

rating_3 = [p.get('class') for p in rating_list3]



for i in range(len(rating_3)):
    rating_3[i].remove('star-rating')
    

business_list = pd.DataFrame([name_book_business, price_business, stock_3, rating_3]).T
business_list.columns = ['Name Book', 'Price', 'Stock', 'Rating']
business_list

,Name Book,Price,Stock,Rating
0,The Dirty Little Secrets of Getting Your Dream...,£33.34,In stock,[Four]
1,The Third Wave: An Entrepreneurâs Vision of ...,£12.61,In stock,[Five]
2,The 10% Entrepreneur: Live Your Startup Dream ...,£27.55,In stock,[Three]
3,Shoe Dog: A Memoir by the Creator of NIKE,£23.99,In stock,[Two]
4,Made to Stick: Why Some Ideas Survive and Othe...,£38.85,In stock,[Five]
5,Quench Your Own Thirst: Business Lessons Learn...,£43.14,In stock,[One]
6,The Art of Startup Fundraising,£21.00,In stock,[Three]
7,Born for This: How to Find the Work You Were M...,£21.59,In stock,[Five]
8,The E-Myth Revisited: Why Most Small Businesse...,£36.91,In stock,[One]
9,"Rich Dad, Poor Dad",£51.74,In stock,[One]
10,The Lean Startup: How Today's Entrepreneurs Us...,£33.92,In stock,[Three]
11,Rework,£44.88,In stock,[Two]

In [41]:
catalogo = {'Classic': classic_list, 'Fiction': fiction_list, 'Humor': humor_list, 'Business': business_list}
catalogo_['Classic'] = classic_list

ValueError: Wrong number of items passed 19, placement implies 1

In [33]:
print(catalogo)

{'Classic':                                             Name Book   Price     Stock  \
0                                   The Secret Garden  £15.08  In stock
1                                   The Metamorphosis  £28.58  In stock
2                              The Pilgrim's Progress  £50.26  In stock
3   The Hound of the Baskervilles (Sherlock Holmes...  £14.82  In stock
4                      Little Women (Little Women #1)  £28.07  In stock
5                                  Gone with the Wind  £32.49  In stock
6                                             Candide  £58.63  In stock
7                                         Animal Farm  £57.22  In stock
8                                   Wuthering Heights  £17.73  In stock
9                          The Picture of Dorian Gray  £29.70  In stock
10  The Complete Stories and Poems (The Works of E...  £26.78  In stock
11                                            Beowulf  £38.35  In stock
12                           And Then There Were None  £35.01  In stock
13                          The Story of Hong Gildong  £43.19  In stock
14                                  The Little Prince  £45.42  In stock
15                              Sense and Sensibility  £37.46  In stock
16                                    Of Mice and Men  £47.11  In stock
17                                               Emma  £32.93  In stock
18  Alice in Wonderland (Alice's Adventures in Won...  £55.53  In stock

     Rating
0    [Four]
1     [One]
2     [Two]
3     [Two]
4    [Four]
5   [Three]
6   [Three]
7   [Three]
8   [Three]
9     [Two]
10   [Four]
11    [Two]
12    [Two]
13   [Four]
14    [Two]
15    [One]
16    [Two]
17    [Two]
18    [One]  , 'Fiction':                                             Name Book   Price     Stock  \
0   Mesaerion: The Best Science Fiction Stories 18...  £37.59  In stock
1                                                Join  £35.67  In stock
2   William Shakespeare's Star Wars: Verily, A New...  £43.30  In stock
3                                         The Project  £10.65  In stock
4                                     Soft Apocalypse  £26.12  In stock
5                   Sleeping Giants (Themis Files #1)  £48.74  In stock
6                                               Arena  £21.36  In stock
7      Foundation (Foundation (Publication Order) #1)  £32.42  In stock
8   The Restaurant at the End of the Universe (Hit...  £10.92  In stock
9                                    Ready Player One  £19.07  In stock
10  Life, the Universe and Everything (Hitchhiker'...  £33.26  In stock
11                                     Dune (Dune #1)  £54.86  In stock
12  Do Androids Dream of Electric Sheep? (Blade Ru...  £51.48  In stock
13        Three Wishes (River of Time: California #1)  £44.18  In stock
14            The Last Girl (The Dominion Trilogy #1)  £36.26  In stock
15  Having the Barbarian's Baby (Ice Planet Barbar...  £34.96  In stock

    Rating
0    [One]
1   [Five]
2   [Four]
3    [One]
4    [Two]
5    [One]
6   [Four]
7    [One]
8    [One]
9   [Four]
10   [Two]
11   [One]
12   [One]
13   [Two]
14   [Two]
15  [Four]  , 'Humor':                                            Name Book   Price     Stock  \
0            The Long Haul (Diary of a Wimpy Kid #9)  £44.07  In stock
1              Old School (Diary of a Wimpy Kid #10)  £11.83  In stock
2  I Know What I'm Doing -- and Other Lies I Tell...  £25.98  In stock
3  Hyperbole and a Half: Unfortunate Situations, ...  £14.75  In stock
4            Dress Your Family in Corduroy and Denim  £43.68  In stock
5         Toddlers Are A**holes: It's Not Your Fault  £25.55  In stock
6                    When You Are Engulfed in Flames  £30.89  In stock
7                                              Naked  £31.69  In stock
8  Lamb: The Gospel According to Biff, Christ's C...  £55.50  In stock
9                                    Holidays on Ice  £51.07  In stock

    Rating
0    [One]
1   [Five]
2   [Four]
3   [Five]
4  [Three]
5    [One]
6   [Five]
7  [Three]
8   [Five]
9    [Two]  , 'Business':                                             Name Book   Price     Stock  \
0   The Dirty Little Secrets of Getting Your Dream...  £33.34  In stock
1   The Third Wave: An Entrepreneurâs Vision of ...  £12.61  In stock
2   The 10% Entrepreneur: Live Your Startup Dream ...  £27.55  In stock
3           Shoe Dog: A Memoir by the Creator of NIKE  £23.99  In stock
4   Made to Stick: Why Some Ideas Survive and Othe...  £38.85  In stock
5   Quench Your Own Thirst: Business Lessons Learn...  £43.14  In stock
6                      The Art of Startup Fundraising  £21.00  In stock
7   Born for This: How to Find the Work You Were M...  £21.59  In stock
8   The E-Myth Revisited: Why Most Small Businesse...  £36.91  In stock
9                                  Rich Dad, Poor Dad  £51.74  In stock
10  The Lean Startup: How Today's Entrepreneurs Us...  £33.92  In stock
11                                             Rework  £44.88  In stock

     Rating
0    [Four]
1    [Five]
2   [Three]
3     [Two]
4    [Five]
5     [One]
6   [Three]
7    [Five]
8     [One]
9     [One]
10  [Three]
11    [Two]  }

In [14]:
len(name_book_classic)

19

In [27]:
url5 = 'https://books.toscrape.com/catalogue/category/books/business_35/index.html'

page4 = requests.get(url5, headers=headers)

soup = BeautifulSoup(page4.text, 'html.parser')

for i in range(len(name_book_classic)):
    
    
    
    print(url)

https://books.toscrape.com/catalogue/TheSecretGarden/index.html
https://books.toscrape.com/catalogue/TheMetamorphosis/index.html
https://books.toscrape.com/catalogue/ThePilgrim'sProgress/index.html
https://books.toscrape.com/catalogue/TheHoundoftheBaskervilles(SherlockHolmes#5)/index.html
https://books.toscrape.com/catalogue/LittleWomen(LittleWomen#1)/index.html
https://books.toscrape.com/catalogue/GonewiththeWind/index.html
https://books.toscrape.com/catalogue/Candide/index.html
https://books.toscrape.com/catalogue/AnimalFarm/index.html
https://books.toscrape.com/catalogue/WutheringHeights/index.html
https://books.toscrape.com/catalogue/ThePictureofDorianGray/index.html
https://books.toscrape.com/catalogue/TheCompleteStoriesandPoems(TheWorksofEdgarAllanPoe[CameoEdition])/index.html
https://books.toscrape.com/catalogue/Beowulf/index.html
https://books.toscrape.com/catalogue/AndThenThereWereNone/index.html
https://books.toscrape.com/catalogue/TheStoryofHongGildong/index.html
https://books.toscrape.com/catalogue/TheLittlePrince/index.html
https://books.toscrape.com/catalogue/SenseandSensibility/index.html
https://books.toscrape.com/catalogue/OfMiceandMen/index.html
https://books.toscrape.com/catalogue/Emma/index.html
https://books.toscrape.com/catalogue/AliceinWonderland(Alice'sAdventuresinWonderland#1)/index.html